article{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 0 10px 3px black inset;
    user-select: none;
    transition: scale .1s;
}
.Isclicked{
    border: 3px solid black;
}
.Isfound{
    border: 3px solid red;
}
article:active{
    scale: 1.2;
}